<h1>
<%= @videogame.game_name() %>
</h1>

<form action="/opinion/post/<%= @profile.id()%>/<%= @videogame.id()%>" method="post">
  <label for="post">What are your thoughts on this game?</label>
  <textarea class="form-control" name="post" rows="3"></textarea>

  <button type="submit">Post</button>

</form>

<ul>
  <% @videogame.opinions.each() do |opinion| %>
   <li><%=Profile.find(opinion.profile_id().to_i).username()%> <%= opinion.post()%></li>
   <%end%>
</ul>
